In [18]:
a = [1, 2, 3, 4, 5, 56, 76, 7,43]
b = ["ali", "zahra", "reza", "ali"]
a.reverse()
a.sort(reverse=True)
a.sort()
b.sort(reverse=True)
b.insert(2, "mohammad")
a
b
b.count("ali")
b.extend(a)
b

['zahra', 'reza', 'mohammad', 'ali', 'ali', 1, 2, 3, 4, 5, 7, 43, 56, 76]

In [35]:
c = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in range(1, 10):
    print(c[i-1], end=" ")
    if i % 3 == 0:
        print()

    
    
c

1 2 3
4 5 6
7 8 9

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
a = {1: "name", 2 : "age", 3 : "tel"}
a.keys()
a.values()
a.items()
a.get(2)
b = a.copy()
b
b["car"] = "benz"
b.update({"car":  "bmw"})
b
b.popitem()
b

{1: 'name', 2: 'age', 3: 'tel'}

In [68]:
e = {1, 2, 3, 4, 5, 1 , 2, 4 , 5, 6, 1 ,2, 2,1 , 1, 1}
f = {"ali", "reza", "mohaammad"}

e.__len__()
f.union(e)

{1, 2, 3, 4, 5, 6, 'ali', 'mohaammad', 'reza'}

In [70]:
t = "ali", "reza", "mohammad"
lst = list(t)
lst[2] = "saeed"
t = tuple(lst)
t

('ali', 'reza', 'saeed')

In [80]:
fruits = ("apple", "banana", "cherry", "orange", "tomato", "potato")

(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'orange', 'tomato']
potato

In [81]:
def maxi(a):
    global max1
    max1 = 0
    if a > max1:
        max1 = a
        print(max1)
print(max1)
for i in range(1, 11):
    a = int(input(f"enter number{i}: "))
    maxi(a)

NameError: name 'max1' is not defined