In [3]:
s = {
    1: {
        "name": "ali",
        "lname": "rezaee",
        "scores": {"math": 18, "science": 17, "geometry": 15, "sport": 20},
    },
    14: {
        "name": "taha",
        "lname": "sartipi",
        "scores": {"math": 20, "science": 18, "geometry": 16, "sport": 20},
    },
}
print(s.items())

dict_items([(1, {'name': 'ali', 'lname': 'rezaee', 'scores': {'math': 18, 'science': 17, 'geometry': 15, 'sport': 20}}), (14, {'name': 'taha', 'lname': 'sartipi', 'scores': {'math': 20, 'science': 18, 'geometry': 16, 'sport': 20}})])

In [6]:
for i in s.items():
    print(i)

(1, {'name': 'ali', 'lname': 'rezaee', 'scores': {'math': 18, 'science': 17, 'geometry': 15, 'sport': 20}})
(14, {'name': 'taha', 'lname': 'sartipi', 'scores': {'math': 20, 'science': 18, 'geometry': 16, 'sport': 20}})

In [7]:
import pandas as pd
df = pd.DataFrame(s)
df

,1,14
name,ali,taha
lname,rezaee,sartipi
scores,"{'math': 18, 'science': 17, 'geometry': 15, 's...","{'math': 20, 'science': 18, 'geometry': 16, 's..."